<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>The Great Gatsby</string>
	<string>On the Road</string>
	<string>The Sun Also Rises</string>
	<string>Ender&apos;s Game</string>
	<string>Dune</string>
	<string>The Catcher in the Rye</string>
	<string>A Farewell to Arms</string>
	<string>Tender is the Night</string>
	<string>Metamorphosis</string>
	<string>Fight Club</string>
	<string>Slaughterhouse-Five</string>
	<string>The Road</string>
</array>
</plist>
